[user]
  name = Siddharth Rawat
  email = rawat.sid@northeastern.edu
[core]
  editor = code -w
[credential]
  helper = osxkeychain
[init]
  defaultBranch = master
[github]
  user = sydrawat01
[commit]
  template = ~/.config/git/conventional-commit.txt
#[commit]
#  template = /Users/sid/.gitmessage
[alias]
  b = branch
  bd = branch -D
  co = checkout
  cob = checkout -b
  lt = log --no-walk --tags --pretty="%h %d %s" --decorate=full
  lp = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short 
